//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      h1.post-title= post.title
    span.post-date!= [post.date.getUTCFullYear(), post.date.getUTCMonth() + 1, post.date.getUTCDate()].join(' &#183; ')
    br
    span.post-date #{post.date}
    br
    span.post-date #{post.section}


mixin post(post)
  mixin postHead(post)
  .post-body!= post.content

doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="#{data.baseUrl}images/cabin.png")
    link(href="#{data.baseUrl}styles/sass-bootstrap.css", rel="stylesheet")
    link(href="#{data.baseUrl}styles/custom.css", rel="stylesheet")
    block head
      title= "My Blog"
  body
    #wrapper

      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href="#{data.baseUrl}") @desmondo
          li
            a(href="#{data.baseUrl}tech.html") Tech
          li
            a(href="#{data.baseUrl}personal.html") Personal
          li
            a(href="#{data.baseUrl}demos.html") Demos            
          li
            a(href="#{data.baseUrl}contact.html") Contact

      #page-content-wrapper
        .content-header
          h1
            //- Fix this: button navigation when mobile responsive
            //- a(href="#").btn.btn-default
            //-   i.icon-reorder 
            if post
              if post.section
                a(href="#{data.baseUrl}#{post.section}.html") #{post.section}
                span(style="color:red;")  » 
              a(href="#{data.baseUrl}#{post.url}", style="color:black;") #{post.title}
            else
              a(href="#{data.baseUrl}#{currentPage}.html") #{currentPage}
              //- p= JSON.stringify(locals)
              //- if currentIndex!=0
              //-   span(style="color:red;")  » 



        //- .content-subheader
        //-   h1
        //-     //- Fix this: button navigation when mobile responsive
        //-     //- a(href="#").btn.btn-default
        //-     //-   i.icon-reorder 
        //-     a(href="#", style="color:black;") Article Title


      .page-content.inset

        block content


        //- block content
        //- mixin post(post)

        //- .row
        //-   .col-md-12
        //-     p.lead 
        //-      | This simple sidebar template has a hint of JavaScript to make the template responsive. 
        //-      | It also includes Font Awesome icon fonts.
        //-   .col-md-6
        //-     p.well The template still uses the default Bootstrap rows and columns.
        //-   .col-md-6
        //-     p.well But the full-width layout means that you wont be using containers.
        //-   .col-md-4
        //-     p.well Three Column Example
        //-   .col-md-4
        //-     p.well Three Column Example
        //-   .col-md-4
        //-     p.well You get the idea! Do whatever you want in the page content area!
        
        //- .row
        //-   .col-md-12
        //-     p.lead 
        //-      | This simple sidebar template has a hint of JavaScript to make the template responsive. 
        //-      | It also includes Font Awesome icon fonts.
        //-   .col-md-6
        //-     p.well The template still uses the default Bootstrap rows and columns.
        //-   .col-md-6
        //-     p.well But the full-width layout means that you wont be using containers.
        //-   .col-md-4
        //-     p.well Three Column Example
        //-   .col-md-4
        //-     p.well Three Column Example
        //-   .col-md-4
        //-     p.well You get the idea! Do whatever you want in the page content area!
        
        //- .row
        //-   .col-md-12
        //-     p.lead 
        //-      | This simple sidebar template has a hint of JavaScript to make the template responsive. 
        //-      | It also includes Font Awesome icon fonts.
        //-   .col-md-6
        //-     p.well The template still uses the default Bootstrap rows and columns.
        //-   .col-md-6
        //-     p.well But the full-width layout means that you wont be using containers.
        //-   .col-md-4
        //-     p.well Three Column Example
        //-   .col-md-4
        //-     p.well Three Column Example
        //-   .col-md-4
        //-     p.well You get the idea! Do whatever you want in the page content area!





    //- nav
    //-   h1.name
    //-     a(href="#{data.baseUrl}") My Name
    //-   .menu.icon-menu
    //-   ul.nav-links
    //-     li.text-link
    //-       a(href="#{data.baseUrl}about.html") about
    //-     li.text-link
    //-       a(href="#{data.baseUrl}projects.html") projects
    //-     li.text-link
    //-       a(href="#{data.baseUrl}archives.html") archives

    //-   .social-media
    //-     a.icon-github(href="https://github.com/colinwren")
    //-     a.icon-twitter(href="https://twitter.com/colinwrenca")
    //- .content
    //-   block content
    //- a(href="http://cabinjs.com")
    //-   img.cabin(src="#{data.baseUrl}images/cabin.png", alt="cabin logo")
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", type="text/javascript")
    //- script(src="#{data.baseUrl}scripts/main.js", type="text/javascript")
    //- script.
    //-     // Add your analytics code here
